doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Welcome to @MozLDN

    link(rel='stylesheet', type='text/css', href='css/fira.css')
    link(rel='stylesheet', type='text/css', href='build/build.css')

  body
    
    img#tail(src='images/background.png')

    article

      section
        h2 Welcome to
        h1 @MozLDN

      section
        h1.bullet HEALTH AND SAFETY
        ul
          li No smoking anywhere on the building
          li There are fire exits
          li Use them if there's a fire
          li Don't use the lift
          li There are also bathrooms
          li Feel free to use them too

      section
        h1.bullet CODE OF CONDUCT
        h2.bullet TL;DR: Don't be a git

      section
        h1.bullet This is a safe space
        h2.bullet We're here to learn and help each other
        ul
          li Feel free to ask any questions
          li No question is too silly
          li Respect other people's questions
          li Respect other people's background
          li Don't make assumptions&mdash;always ask
          li If someone asks you to stop doing something... <span class="bullet">stop doing it!</span>

      section
        h1.bullet NOT acceptable
        ul
          li Sexist, racist, offensive comments/jokes/imagery
          li Harassment of ANY kind

      section
        h2.bullet We're building a community together
        h3.bullet Good communities are made of diverse people
        ul
          li Developers
          li Designers
          li Testers
          li Users
          li Fans!

      section
        h1.bullet Anyone violating these rules will be sanctioned or expelled at our discretion

      section
        h1.bullet Need help?
        h2.bullet Speak to any of us

      section
        h1.bullet MozLDN CODE
        h2.bullet Don't be gross
        ul
          li Clean after yourself
          li Pick your rubbish
          li Recycle!
          li Grab drinks/snacks <span class="bullet">(but don't be a hoarder)</span>
          li Be eco: filtered tap water!

      // This is optional depending on if you have or not pizza or other sponsor
        section
          h3.bullet They bring the pizza!
          //img(src='images/sponsor.png', style='width: 450px; height: auto')
          h1.bullet Sponsor name

      section(data-bespoke-fullscreenbackground='images/thatsall.gif', data-bespoke-state='oneliner')
        

    
    script(src='build/build.js')
